* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #000;
}

::-webkit-scrollbar {
	width: 0px;
	height: 1px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(114, 113, 113);
	border-radius: 10px;
	height: 200px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

.category-btn {
	font-weight: bold !important;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;

	padding: 7px 15px;
	margin: 10px 1px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.search-bar {
  border: none;
  outline: none;
	width: 360px;
}

.category-btn:hover {
  background-color: #D2122E !important;
  color: #fff !important;
}

.category-btn:hover span {
  color: #fff !important;
}

.react-player {
		height: 77vh !important;
		width: 100% !important;
}

@media screen and (max-width: 600px) {
	.search-bar {
		width: 130px;
	}

	.react-player {
		height: 45vh !important;
	}
}